@font-face {
    font-family: roboto-light;
    src: url(./fonts/Roboto/Roboto-Light.ttf);
  }

@font-face {
font-family: roboto-bold;
src: url(./fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-bolditalic;
    src: url(./fonts/Roboto/Roboto-MediumItalic.ttf);
    }

@font-face {
    font-family: roboto-superbold;
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
    }

@font-face {
    font-family: roboto-thin;
    src: url(./fonts/Roboto/Roboto-Thin.ttf);
    }

* {
    font-family: roboto-light;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

.container{
    display: flex;
    flex-direction: row;
    background-color: #8b5cf6;
}

.sidebar{
    margin-top: 2vh;
    flex:0.5;
    color: white;
    font-weight: bold;
}

.dashboard{
    display: flex;
    flex-direction: row;
    font-size: 3vh;
    gap: 10px;
    align-items: center;
    margin:8px 20px 8px 20px;
}

.nav ul,.others ul{
    padding:0px 20px 0px 20px;
}

.others{
    margin-top: 50px;
}
li.nav{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    gap: 5px;
    align-items: center;
    margin:16px 10px 16px 10px;
}

.mainpage{  
    flex:5;
    background-color: #ede9fe;
}

.upperbar,.lowerbar{
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.profiles{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: right;
    padding-right: 40px;
    padding-left: 40px;
}

.searchcontainer,.welcome{
    padding-left: 40px;
    display: flex;
   justify-content: left;
   align-items: center;
   gap: 20px;
}
.searchcontainer input{
    width: 500px;
    border-radius: 16px;
    border-style: none;
    height: 30px;
    background-color: lightgray;
}

.welcome p:first-child{
    font-size: 18px;
    margin: 4px;
}

.welcome p:last-child{
    font-size: 24px;
    font-weight: bold;
    margin: 4px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(3,minmax(50px,100px));
    gap: 3vh;
    margin: 4vh;
    justify-content: right;
}

.buttons button{
    background-color: #8b5cf6;
    border-radius: 24px;
    color: white;
    border-style: none;
    padding: 2vh;
}

ul {
    list-style-type: none;
}

.profile-icon{
    height: 5vh;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    content:url("./images/profile-image.jpg");
}