@font-face {
    font-family: roboto-light;
    src: url(./fonts/Roboto/Roboto-Light.ttf);
  }

@font-face {
font-family: roboto-bold;
src: url(./fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-bolditalic;
    src: url(./fonts/Roboto/Roboto-MediumItalic.ttf);
    }

@font-face {
    font-family: roboto-superbold;
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
    }

@font-face {
    font-family: roboto-thin;
    src: url(./fonts/Roboto/Roboto-Thin.ttf);
    }

* {
    font-family: roboto-light;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

.container{
    display: flex;
    flex-direction: row;
    background-color: #8b5cf6;
}

.sidebar{
    margin-top: 2vh;
    flex:0.5;
    color: white;
    font-weight: bold;
}

.dashboard{
    display: flex;
    flex-direction: row;
    font-size: 3vh;
    gap: 10px;
    align-items: center;
    margin:8px 20px 8px 20px;
}

.nav ul,.others ul{
    padding:0px 20px 0px 20px;
}

.others{
    margin-top: 50px;
}
li.nav{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    gap: 5px;
    align-items: center;
    margin:16px 10px 16px 10px;
}

.mainpage{  
    flex:5;
    background-color: #ede9fe;
}

.upperbar,.lowerbar{
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.profiles{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: right;
    padding-right: 40px;
    padding-left: 40px;
}

.searchcontainer,.welcome{
    padding-left: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}
.searchcontainer input{
    width: 500px;
    border-radius: 16px;
    border-style: none;
    height: 30px;
    background-color: #ddd6fe;
}

.welcome p:first-child{
    font-size: 18px;
    margin: 4px;
}

.welcome p:last-child{
    font-size: 24px;
    font-weight: bold;
    margin: 4px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(3,minmax(50px,100px));
    gap: 3vh;
    margin: 4vh;
    justify-content: right;
}

.buttons button{
    background-color: #8b5cf6;
    border-radius: 24px;
    color: white;
    border-style: none;
    padding: 2vh;
    font-weight: bold;
}
.header{
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
              0 2px 2px rgba(0,0,0,0.15), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.15);
}
.content{
    display:grid;
    grid-template-columns: 4fr minmax(200px,300px);
    background-color: #ddd6fe;
}

.maincontent{
    display: grid;
    grid-template-rows: minmax(40px, 60px) 1fr;
}

.maincontenttitle,.annoucetitle{
    margin: 0px;
    justify-self: left;
    align-self: center;
    font-weight: bold;
}

.maincontenttitle{
    margin-left: 40px;
}

.cardcontent{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap:40px;
    margin:0px 40px 20px 40px;
}

.cards{
    background-color: white;
    height: 300px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
    display: grid;
    grid-template-rows: minmax(30px,0.5fr) 3fr minmax(30px,0.5fr);
    gap: 2px;
    border-radius: 8px;
    border-left: solid;
    border-color: #8b5cf6;
    border-width: 8px;
    padding: 16px;
}
.title{
    font-weight: bold;
}
.passage{
    justify-self: start;
    margin:0px;
    line-height: 1.6;
}
.options{
    margin-right: 8px;
    display: flex;
    gap:8px;
    justify-content: right;
}
.sidecontent{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}
.announcements{
    flex:1;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.annoucetitle{
    padding-bottom: 20px;
}

.trending{
    flex: 1;
}

.announcementcont{
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.cards-Announce{
    flex: 1;
    padding: 16px;
}

hr.solid {
    border-top: 1px solid #8b5cf6;
    margin: 0px;
    border-radius: 50%;
}

.cards-Announce p:nth-child(odd){
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
}

.cards-Announce p:nth-child(even){
    font-size: 12px;
    margin: 0px;
}

ul {
    list-style-type: none;
}

.profile-icon{
    height: 5vh;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    content:url("./images/profile-image.jpg");
}